tools/jdk-8u271-windows-x64.exe filter=lfs diff=lfs merge=lfs -text
tools/mysql-installer-community-5.7.33.0.msi filter=lfs diff=lfs merge=lfs -text
tools/WeChatSetup-3.1.0.exe filter=lfs diff=lfs merge=lfs -text
